<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
<!--        <property name="hibernate.connection.url">jdbc:oracle:thin:@//172.16.68.51:1539/cmplynx</property>
        <property name="hibernate.connection.username">academics</property>
        <property name="hibernate.connection.password">academics</property>
        <property name="hibernate.default_schema">academics</property>-->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//172.16.5.21:1521/jiitdev</property>
        <property name="hibernate.connection.username">academics</property>
        <property name="hibernate.connection.password">academics</property>
        <property name="hibernate.default_schema">academics</property> 
        <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@//172.16.7.21:1521/camplx2</property>
        <property name="hibernate.connection.username">TESTCLXACADEMICS</property>
        <property name="hibernate.connection.password">TESTCLXACADEMICS</property>
        <property name="hibernate.default_schema">TESTCLXACADEMICS</property>-->
        <!--<property name="hibernate.connection.url">jdbc:oracle:thin:@//172.16.7.21:1521/camplx2</property>
        <property name="hibernate.connection.username">COMMONACADEMICS</property>
        <property name="hibernate.connection.password">COMMONACADEMICS</property>
        <property name="hibernate.default_schema">COMMONACADEMICS</property>-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.release_mode">after_statement</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">300</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.timeout">100</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <mapping resource="com/jilit/irp/persistence/Studentqualification.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Qualificationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentintractionrefdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Instituteidcontrol.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentindetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studenthosteldetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_modulerightsmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_irpmlp.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Departmentmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_irpusers.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Hostelmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Academicyear.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentdocumentmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Qualificationcategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_rolerightstagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Institutemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentquota.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Idgenerationcontrol.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Irplogos.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Departmentwisehod.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Citymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Rollnumberingsetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Rollnumberingcontrol.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentoutdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programtypeprogramtagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentcategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentdocumentdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentadddress.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Registrationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Hosteltype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Stytype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Idcontrol.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Idgenerationsetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Countrymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Departmentbranchtagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Otherstaffmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentintractiondetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Parameters.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentphone.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_irpmodules.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Rollnumberingsetupdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_irpusertype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programtype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Streammaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Stydesc.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_kioskmarqueetext.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentdisciplinaryaction.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Categoryprogramdocumenttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Specializationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_rolemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Statemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Employeetype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Designationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Specializationcategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sectionmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programminmaxlimit.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programwisesubsection.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjecttypemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Basketmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Basketmasterdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programschemedetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectcomponent.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programscheme.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programschemeacadyeardetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programschemeacadyearwise.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentnrsubjects.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Offeredodsubjecttaggingdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Offeredodsubjecttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Loaddistributiongrant.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentregistration.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentregistration_info.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programsubjectdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programsubjecttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentsubjectchoicedetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentsubjectchoicemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prstudentsubjectchoicecount.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentsubjectfacultychoices.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultyevent.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultyeventtagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultysubjectchoices.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultysubjecttimepreference.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultydaytimepreference.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prsubjecttypewiseapproval.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prsubjectfinalizationcriteria.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Facultysubjecttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Multifacultysubjecttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prfacultystudenttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitacademicsubjects.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitmasterrequired.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitacadwiserequired.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitmastersubjects.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitacademicyearwise.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Designationmasterdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Instituteregistrationevents.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Facultystudenttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Otherstaffmasterdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Staffdutydetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/V_Staff.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/V_ProgrmSecBranchSem.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/DepartmentSubjectTagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentphoto.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentlg.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Institutecampusmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Attributemapping.hbm.xml"/>
        <!--*****Named Query Files******-->
        <mapping resource="com/jilit/irp/persistence/namedquery_common.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/namedquery_sis.hbm.xml"/>
        <!--*****End Of Named Query Files******-->
        <mapping resource="com/jilit/irp/persistence/Locationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendance.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendanceexcused.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentpreviousattendence.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectcoordinator.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/V_StudentComponentDetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/V_ProgramSubjectTagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentpersinfochangerequest.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectareamaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Prerequisitforregistration.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentresult.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Institutecampustagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/ElectiveSubjectApproval.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/PhdSelfcourseRegistration.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/PhdResearchRegistration.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Scholarshipapplicants.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Scholarshipcriteria.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Scholarshiptype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Scholarshipsessionmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Coordinatornamestudentwise.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Coordinatortype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Fstwisecoordinator.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Examcentermaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentcertificatemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentcertificateslno.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentcertificatesetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentcertificatesetupdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Holidaymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Userintractiondetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Numberingcontrolothers.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Noteligibleforregistration.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentotherachievementfinal.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentqlyboardmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentyearbackdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentappointfixation.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentotherachievementdoc.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Scholarshippayment.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Disciplinarytypemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentotherachievementreq.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Disciplinaryoffencemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_userhierarchy.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Notify_attachments.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Notify_notificationalertmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Notify_notificationto.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Notification_smssetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_slotmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_programwiseslot.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_timetable.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_applicabledays.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_timetableallocationdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_timetableallocation.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_multifacultyteachingload.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Otherstaffspectagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Hostelroombedmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Hostelroommaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Notify_parameters.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Teachingloaddistribution.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Teachingloaddetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_suspendedslots.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentleavedetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentleavemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentactivitydetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_suspendedslotsdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentactivitymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tmp_studattendsummary.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendancecategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentadmissionsubcategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentadmissioncategory.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tmp_studattendsummarydetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/TT_timetableloadtransfer.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tmp_attendancestatus.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectcomponentdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectwiseload.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_changetimetablelog.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Regcoordinatortagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Attendancecutoffpercentage.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendancesummary.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendancefollowup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Numberingsetupothersmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Numberingsetupothers.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Attendancefollowupmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentnotoffersubject.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentattendanceentrydate.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_timetableapproval.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/TT_AttendanceStatus.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_schedularmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_schedulemailattachement.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_schedulemailtask.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_scheduletaskmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_smsmailtext.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sdl_schedulesmstask.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/MercyAppeal.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Xl_Regsubjectdata.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Facultyattendancesunlocking.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_schattendancelogdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Tt_schattendancelogmaster.hbm.xml"/>
        <!--<mapping resource="com/jilit/irp/persistence/Stafffilesgrants.hbm.xml"/>-->
        <mapping resource="com/jilit/irp/persistence/Branchchangelog.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Empdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Employeeacademicduty.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Log_loginloginfo.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeeactiondetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Roommaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Roomtypemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Examgrademaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeeactiontype.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeedesignations.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Electivemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Vacationmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Workingdays.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Ex_patternmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Branchchangerequest.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Temp_defaulterinprereg.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentshortattendance.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Registrationfinemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Examcenterwiserooms.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Instituteelectivetempdata.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentallowforexam.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Mentormaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Examgrademasterdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Updatestynumber.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Nocapplicants.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeemembers.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Exameventsubjecttagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studenteventsubjectmarks.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Roomusedfortagging.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeeformation.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeemeetingdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Committeemeetingparticipents.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Meetingagendamaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Vacationdates.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Roomusedformaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Branchmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programmaxsty.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Employeephoto.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/BulkStudentPhoto.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Programeligibilityexams.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Eligibilityexaminfo.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Eligibilityexaminfodetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studenteligibilityexaminfo.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentgroupmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentgroupcrlimit.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/StudentFeePaySPCLApproval.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Subjectsforbranchchange.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Temp_studentaddress.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentdatainformation.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Gamesandsport.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Hobbiesmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Admissiontypemaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Setup_gipcriteria.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sis_registrationactivitymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sis_studentregactivities.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Pr_electivesets.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentsgpacgpa.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sis_registrationactivityrights.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/PreRequisitForRegSubjDetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/RegistrationMasterDetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/StudentPhotoFetch.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Log_CLXAuditTrail_Master.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Feeheads.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Feestructureindividual.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Currencymaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/TempRollNumberControl.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/TempRollNumberSetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/TempRollNumberSetupDetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/GuestStudentmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/GuestStudentaddress.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/GuestStudentphoto.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/GuestStudentPhotoFetch.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/SubjectRegistrationCriteria.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/SubjectWiseBackPaperFee.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/CourseCreditWiseFee.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/SummerRegistrationSetup.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/SummerRegistrationSetupDet.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_userrolescriterabased.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Sct_userrightscriterabased.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Ex_GradingDebarStudentDetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Setup_gipcriteriadetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Feefinalization.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Studentresultdetail.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/Debarreasonmaster.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/RegistrationInstruction.hbm.xml"/>
        <mapping resource="com/jilit/irp/persistence/SubjectForCommonLoad.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
